<header></header>

<h1>Réservations en attente de validation :</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th style="width:5%">#</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Matériel concerné</th>
            <th>Emprunteur</th>
            <th style="width:15% ;">Accepter / Refuser</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emprunt of listeEmprunt">
            <td>{{emprunt.id}}</td>
            <td>{{emprunt.dateDebutPret}}</td>
            <td>{{emprunt.dateFinPret}}</td>
            <td>{{emprunt.materiel.modele.nom}}</td>
            <td>#{{emprunt.emprunteur.id}} {{emprunt.emprunteur.nom}} {{emprunt.emprunteur.prenom}}</td>
            <td><button mat-icon-button color="primary" (click)="valideEmprunt(emprunt.id)" class="btn btn-success"><mat-icon>done</mat-icon></button> <button
                    (click)="supprimeEmprunt(emprunt.id)" mat-icon-button color="warn" class="btn btn-dark"><mat-icon>close</mat-icon></button></td>
        </tr>
    </tbody>
</table>


<h1>Réservations en cours :</h1>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th style="width:5%">#</th>
            <th>Date début</th>
            <th>Date fin</th>
            <th>Matériel concerné</th>
            <th>Emprunteur</th>
            <th style="width:15% ;">Retour effectué</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emprunt of listeEmpruntValide">
            <td>{{emprunt.id}}</td>
            <td>{{emprunt.dateDebutPret}}</td>
            <td>{{emprunt.dateFinPret}}</td>
            <td>{{emprunt.materiel.modele.nom}}</td>
            <td>#{{emprunt.emprunteur.id}} {{emprunt.emprunteur.nom}} {{emprunt.emprunteur.prenom}}</td>
            <td><button mat-icon-button color="basic" (click)="retourEmprunt(emprunt.id)" class="btn btn-primary"><mat-icon>done</mat-icon></button></td>
        </tr>
    </tbody>
</table>