<div id="menu">
    <button mat-button routerLink="/accueil">Accueil</button>
    <button mat-button>Mes réservations</button>
    <button mat-button (click)="onDeconnexion()">Déconnexion</button>
    <button mat-button [matMenuTriggerFor]="menu" *ngIf="admin">Admin <mat-icon>expand_more</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="adminReservations()">Réservations</button>
        <button mat-menu-item>Gestion des marques</button>
        <button mat-menu-item>Gestion des utilisateurs</button>
        <button mat-menu-item>Gestion des modèles</button>
        <button mat-menu-item>Gestion des matériels</button>
    </mat-menu>
</div>