<header></header>

<form [formGroup]="formControl" style="margin-top: 3%;" (submit)="onValid()">


    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom" formControlName="nom" [(ngModel)]="type.nom">
            <mat-hint>Entrez le nom</mat-hint>
            <mat-error *ngIf="formControl.get('login')?.hasError('required')">
                Nom <strong>obligatoire</strong>
            </mat-error>
        </mat-form-field>
    </p>


    <div class="boutton">
        <a><button class="btn btn-primary" type="submit">Modifier le type</button></a>
    </div>
</form>