h1 {
    text-align: center;
    margin: 50px;
    margin-top: 5%;
}

.boutton {
    text-align: center;
    margin: 5%
}

table{
    text-align: center;
}

table button{
    text-align: center;
    margin-left: 5%;
}