<header></header>

<h1>Types de matériel</h1>

<div class="boutton">
    <a><button class="btn btn-primary" (click)="ajouterType()">Ajouter un type</button></a>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th style="width:10%">#</th>
            <th style="width:20%;">Nom</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let type of listeTypes">
            <td>{{type.id}}</td>
            <td>{{type.nom}}</td>
            <td style="width:10% ;">
                <button (click)="supprimerType(type.id)" class="btn btn-primary">Supprimer</button>
                <button (click)="modifierType(type.id)" class="btn btn-primary">Modifier</button>
            </td>
        </tr>
    </tbody>
</table>