<header></header>

<h1>Modeles</h1>

<div class="boutton">
    <a><button class="bn632-hover bn26" (click)="ajoutermodele()">Ajouter un modele</button></a>
</div>

<div class="recherche">
<mat-form-field class="rechercheUser" appearance="fill">
    <mat-label>Recherche par nom, marque ou type</mat-label>
    <input matInput type="text" [(ngModel)]="value" (keyup)="onKey()">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>
</div>

<table class="container">
    <thead>
        <tr>
            <th style="width:5%">#</th>
            <th style="width:15%;">Nom</th>
            <th style="width:15%;">Marque</th>
            <th style="width:15%;">Type de matériel</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let modele of listeModele">
            <td>{{modele.id}}</td>
            <td>{{modele.nom}}</td>
            <td>{{modele.marque.nom}}</td>
            <td>{{modele.typeMateriel.nom}}</td>
            <td style="width:10% ;"><button (click)="supprimermodele(modele.id)" class="bn632-hover bn26"
                    style="width:200px ;">Supprimer</button><button (click)="modifiermodele(modele.id)"
                    class="bn632-hover bn26" style="width:200px ;">Modifier</button></td>
        </tr>
    </tbody>
</table>
