h1 {
    text-align: center;
    margin: 50px;
    margin-top: 5%;
}

.recherche{
    text-align: center;
    margin: 5%;
}

.rechercheUser{
    width:25%;
}

table{text-align: center;}

table button{
    margin: 5%;
}

.boutton{
    text-align: center;
}