h1 {
    text-align: center;
    margin: 50px;
    margin-top: 5%;
}
.table{
    text-align: center;
}

.recherche{
    text-align: center;
    margin: 5%;
}

.rechercheUser{
    width:25%;
}
.boutton {
    text-align: center;
    margin: 5%
}
table button{
    text-align: center;
    margin-left: 5%;
}