<header></header>

<div class="buttons">
    <div class="button"><button class="btn btn-primary"(click)="onType()">Gestion des types de matériel</button><br></div>
    <div class="button"><button class="btn btn-primary" (click)="onMarques()">Gestion des marques</button><br> </div>
    <div class="button"><button class="btn btn-primary" (click)="onModeles()">Gestion des modèles</button><br> </div>
    <div class="button"><button class="btn btn-primary" (click)="onMateriel()">Gestion des matériels</button><br> </div>
</div>