<header></header>

<div class="buttons">
    <div class="button"><button mat-raised-button color="primary" (click)="onType()">Gestion des types de matériel</button><br></div>
    <div class="button"><button mat-raised-button color="primary" (click)="onMarques()">Gestion des marques</button><br> </div>
    <div class="button"><button mat-raised-button color="primary" (click)="onModeles()">Gestion des modèles</button><br> </div>
    <div class="button"><button mat-raised-button color="primary">Gestion des matériels</button><br> </div>
</div>